<h1>Todo List</h1>

@if (todos && todos.length > 1) {
    <ul>
        @for (todo of todos; track todo.id) {
            <li>
                <div>
                    <strong>{{ todo.title }}</strong
                    >&nbsp;
                    @if (todo.completed) {
                        <span style="color: green">[Completed]</span>
                    } @else {
                        <span style="color: gray">[Pending]</span>
                    }
                </div>
                <div>
                    <button (click)="toggleTodo(todo.id)">Toggle</button>
                    <a [routerLink]="['/todos', todo.id]">Edit</a>
                </div>
            </li>
        }
    </ul>
} @else {
    <p>No todos available.</p>
}

<div>
    <a routerLink="/todos/create">Create New Todo</a>
</div>
