.git

**/node_modules
**/npm-debug.log

**/.DS_Store
**/.idea
**/.vscode
**/.editorconfig

**/.env*
**/Dockerfile*
**/README.md

**/.eslintignore
**/.eslintrc
**/.stylelintrc
**/.dockerignore
**/.prettierignore
**/.prettierrc
