<h1 class="header">Todos</h1>

@if (todos && todos.length > 1) {
    <ul class="todo-list">
        @for (todo of todos; track todo.id) {
            <li class="todo-list__item">

                <div class="todo" [class.todo_completed]="todo.completed">
                    <div class="todo__toggle">
                        <label class="checkbox">
                            <input
                                type="checkbox"
                                class="checkbox__input"
                                [checked]="todo.completed"
                                (change)="toggleTodo(todo.id)"
                            />
                            <span class="checkbox__checkmark"></span>
                        </label>        
                    </div>
                    <div class="todo__body">
                        <div class="todo__title">
                            {{ todo.title }}
                        </div>
                    </div>
                    <div class="todo__actions">
                        <a [routerLink]="['/todos', todo.id]">Edit</a>
                    </div>
                </div>
            </li>
        }
    </ul>
} @else {
    <p>No todos available.</p>
}

<div>
    <a routerLink="/todos/create">Create New Todo</a>
</div>
