.page-header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 1.25rem;

    &__title {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: #111827;    
    }

    &__actions {
        margin-left: auto;
    }
}