@import url(./variables.scss);

/* Base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 2em;
    background-color: #f2f2f2;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    color: #111827;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 600;
    line-height: 1.2;
    color: #111827;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

/* Paragraphs */
p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #4b5563; // A slightly lighter text color
}

/* Strong text */
strong {
    font-weight: 600;
}

/* Label */
.label {
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    color: #959595;
    vertical-align: text-bottom;
}

/* Form section */
.form {
    margin-top: 1.5rem;
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 1rem;

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        & label {
            font-size: 0.875rem;
            color: #6b7280;
            margin-bottom: 0.25rem;
        }
    }

    &__actions {
        display: flex;
        justify-content: start;
        gap: 0.5rem;
    }

    &__actions-aside {
        margin-left: auto;
    }
}

/* Button */
.button {
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        color 0.2s ease;
    text-align: center;

    &:disabled,
    &[disabled] {
        cursor: default;
        opacity: 0.6;
    }

    /* Type modifiers */
    &_type_action {
        background-color: #6366f1;
        color: #ffffff;

        &:hover {
            background-color: #4f46e5;
        }

        &:disabled,
        &[disabled] {
            background-color: #aab7ff;
            color: #ffffff;
        }
    }
    &_type_danger {
        border: 1px solid #dd6461;
        color: #d9534f;

        &:hover {
            border-color: #ae423f;
            color: #ae423f;
        }

        &:disabled,
        &[disabled] {
            border-color: #f5b5b3;
            color: #f5b5b3;
        }
    }
    &_type_cancel {
        background-color: #f3f4f6;
        color: #4b5563;

        &:hover {
            background-color: #e5e7eb;
        }

        &:disabled,
        &[disabled] {
            background-color: #f9fafb;
            color: #9ca3af;
        }
    }

    /* Size modifiers */
    &_size_s {
        padding: 0.25rem 0.5rem;
        font-size: 0.65rem;
    }
    &_size_m {
        padding: 0.4rem 0.8rem;
        font-size: 0.875rem;
    }
}

/* Input & Textarea */
.text,
.textarea {
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    color: #374151;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
        border-color: #6366f1;
    }
}
.textarea {
    resize: none;
    min-height: 80px;
}

/* Checkbox */
.checkbox {
    display: inline;
    font-size: 0;
    line-height: 0;

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__checkmark {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid var(--color-checkbox-border);
        transition: background-color 0.1s ease;
    }

    /* When the checkbox is checked, fill the circle */
    &__input:checked + &__checkmark {
        border-color: var(--color-checkbox-border);

        &::after {
            content: "";
            position: absolute;
            left: 1px;
            right: 1px;
            top: 1px;
            bottom: 1px;
            border-radius: 50%;
            background-color: var(--color-checkbox-border);
        }
    }

    &__input:not(:disabled):hover + &__checkmark {
        border-color: var(--color-checkbox-hover-border);

        &::after {
            background-color: var(--color-checkbox-hover-border);
        }
    }
}
