<form class="form" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form__field">
        <label for="title">Title:</label>
        <input id="title" type="text" class="text" formControlName="title" autofocus required />
    </div>
    <div class="form__field">
        <label for="description">Description:</label>
        <textarea id="description" class="textarea" formControlName="description"></textarea>
    </div>
    <div class="form__actions">
        <button type="submit" class="button button_type_action button_size_m" [disabled]="todoForm.invalid">
            @if (this.mode === "create") {
                Create todo
            } @else {
                Update todo
            }
        </button>
        <button type="button" class="button button_type_cancel button_size_m" (click)="onCancel()">Cancel</button>
        @if (this.mode === "edit") {
            <div class="form__actions-aside">
                <button type="button" class="button button_type_danger button_size_m" (click)="onDelete()">Delete Todo</button>
            </div>
        }
    </div>
</form>
